#imagem{
    border: solid;
    border-radius: 10px;
}

h1{
    text-align: center;
    background: rgba(76, 40, 175, 0.377);
    color: crimson;

}

ol{
    text-indent: 7cm;
    font-size: 25px;
}


