.t1{
    align-items: center;
    text-align: center;
    background-color: aqua;

}

.t2{
    align-items: center;
    
    background: gray;
    font-size: 25px;
}
h1{
    text-align: center;
    border: solid;
    border-radius: 5px;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: red;
    font-weight: bold;

}
